body{
  background: #c4c4c4;
}

.pmd-card {
    display: block;
    padding: 1px 0;
    margin-bottom: 30px;
    background-color: #fff;
    border: none;
    border-radius: .25rem;
    -moz-box-shadow: 0 6px 18px 0 rgba(0,0,0,.06);
    -webkit-box-shadow: 0 6px 18px 0 rgba(0,0,0,.06);
    box-shadow: 0 6px 18px 0 rgba(0,0,0,.06);
}
